@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
}

canvas {
  max-width: 100%;
  min-height: 100%;
  background: linear-gradient(#0b1026, #161e42);
  border-radius: 10px;
  margin: auto;
}

button {
  padding: 10px 40px;
  background: #0b1026;
  color: #ffff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 40px;
}

button:active {
  background-color: #2b366b;
}
